<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> Digital Market Place HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon-two.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- line awesome -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <!-- Tabler Icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.21.0/tabler-icons.min.css"
        integrity="sha512-XrgoTBs7P5YtpkeKqKOKkruURsawIaRrhe8QrcWeMnFeyRZiOcRNjBAX+AQeXOvx9/9fSY32dVct1PccRoCICQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>

    <!--==================== Preloader Start ====================-->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--==================== Preloader End ====================-->

    <!--==================== Overlay Start ====================-->
    <div class="overlay"></div>
    <!--==================== Overlay End ====================-->

    <!--==================== Sidebar Overlay End ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->

    <!-- ==================== Scroll to Top End Here ==================== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== Scroll to Top End Here ==================== -->

    <!-- ==================== Mobile Menu Start Here ==================== -->
    <div class="mobile-menu d-lg-none d-block">
        <button type="button" class="close-button"> <i class="las la-times"></i> </button>
        <div class="mobile-menu__inner">
            <a href="index.html" class="mobile-menu__logo">
                <img src="assets/images/logo/logo-two.png" alt="Logo" class="white-version">
            </a>
            <div class="mobile-menu__menu">
                <div class="header-right__inner d-lg-none my-3 gap-1 d-flex flx-align">
                    <a href="cart.html" class="header-right__button cart-btn position-relative">
                        <i class="ti ti-basket"></i>
                        <span class="qty-badge font-12">0</span>
                    </a>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="assets/images/icons/user.svg" alt="">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sign Up</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="nav-menu flx-align nav-menu--mobile">
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Home</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="index.html" class="nav-submenu__link"> Home One</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="index-two.html" class="nav-submenu__link"> Home Two</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="index-three.html" class="nav-submenu__link"> Home Three</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Products</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="all-product.html" class="nav-submenu__link"> All Products</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="product-details.html" class="nav-submenu__link"> Product Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="profile.html" class="nav-submenu__link"> Profile</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart.html" class="nav-submenu__link"> Shopping Cart</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart-personal.html" class="nav-submenu__link"> Mailing Address</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart-payment.html" class="nav-submenu__link"> Payment Method</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart-thank-you.html" class="nav-submenu__link"> Preview Order</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="dashboard.html" class="nav-submenu__link"> Dashboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="blog.html" class="nav-submenu__link"> Blog</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="blog-details.html" class="nav-submenu__link"> Blog Details</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="blog-details-sidebar.html" class="nav-submenu__link"> Blog Details Sidebar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item">
                        <a href="contact.html" class="nav-menu__link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ==================== Mobile Menu End Here ==================== -->

    <!-- ================================== Dashboard Start =========================== -->
    <section class="dashboard">
        <div class="dashboard__inner d-flex">

            <!-- ===================== Dashboard Sidebar Start ======================= -->
            <div class="dashboard-sidebar">
                <button type="button" class="dashboard-sidebar__close d-lg-none d-flex"><i
                        class="las la-times"></i></button>
                <div class="dashboard-sidebar__inner">
                    <a href="index.html" class="logo mb-48">
                        <img src="assets/images/logo/logo.png" alt="" class="white-version">
                    </a>
                    <a href="index.html" class="logo logo_icon favicon mb-48">
                        <img src="assets/images/thumbs/dashboard_sidebar_icon.png" alt="">
                    </a>

                    <!-- Sidebar List Start -->
                    <ul class="sidebar-list">
                        <li class="sidebar-list__item">
                            <a href="dashboard.html" class="sidebar-list__link">
                                <span class="sidebar-list__icon">
                                    <i class="ti ti-device-heart-monitor"></i>
                                </span>
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="dashboard-profile.html" class="sidebar-list__link">
                                <span class="sidebar-list__icon">
                                    <i class="ti ti-user"></i>
                                </span>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="setting.html" class="sidebar-list__link">
                                <span class="sidebar-list__icon">
                                    <i class="ti ti-settings"></i>
                                </span>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="dashboard-table.html" class="sidebar-list__link">
                                <span class="sidebar-list__icon">
                                    <i class="ti ti-list-details"></i>
                                </span>
                                <span class="text">Table Design</span>
                            </a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="dashboard-form.html" class="sidebar-list__link">
                                <span class="sidebar-list__icon">
                                    <i class="ti ti-list"></i>
                                </span>
                                <span class="text">Form Design</span>
                            </a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="login.html" class="sidebar-list__link">
                                <span class="sidebar-list__icon">
                                    <i class="ti ti-logout"></i>
                                </span>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Sidebar List End -->

                </div>
            </div>
            <!-- ===================== Dashboard Sidebar End ======================= -->

            <div class="dashboard-body">

                <!-- Dashboard Nav Start -->
                <div class="dashboard-nav bg-white flx-between gap-md-3 gap-2">
                    <div class="dashboard-nav__left flx-align gap-md-3 gap-2">
                        <button type="button" class="icon-btn bar-icon text-heading bg-gray-seven flx-center">
                            <i class="las la-bars"></i>
                        </button>
                        <button type="button" class="icon-btn arrow-icon text-heading bg-gray-seven flx-center">
                            <img src="assets/images/icons/angle-right.svg" alt="">
                        </button>
                        <form action="#" class="search-input d-sm-block d-none">
                            <span class="icon">
                                <img src="assets/images/icons/search-dark.svg" alt="" class="white-version">
                                <img src="assets/images/icons/search-dark-white.svg" alt="" class="dark-version">
                            </span>
                            <input type="text" class="common-input common-input--md common-input--bg pill w-100"
                                placeholder="Search here...">
                        </form>
                    </div>
                    <div class="dashboard-nav__right">
                        <div class="header-right flx-align">
                            <div class="header-right__inner gap-sm-3 gap-2 flx-align d-flex">

                                <div class="user-profile">
                                    <button class="user-profile__button flex-align">
                                        <span class="user-profile__thumb">
                                            <img src="assets/images/thumbs/user-profile.png" class="cover-img" alt="">
                                        </span>
                                    </button>
                                    <ul class="user-profile-dropdown">
                                        <li class="sidebar-list__item">
                                            <a href="dashboard-profile.html" class="sidebar-list__link">
                                                <span class="sidebar-list__icon">
                                                    <img src="assets/images/icons/sidebar-icon2.svg" alt=""
                                                        class="icon">
                                                    <img src="assets/images/icons/sidebar-icon-active2.svg" alt=""
                                                        class="icon icon-active">
                                                </span>
                                                <span class="text">Profile</span>
                                            </a>
                                        </li>

                                        <li class="sidebar-list__item">
                                            <a href="setting.html" class="sidebar-list__link">
                                                <span class="sidebar-list__icon">
                                                    <img src="assets/images/icons/sidebar-icon10.svg" alt=""
                                                        class="icon">
                                                    <img src="assets/images/icons/sidebar-icon-active10.svg" alt=""
                                                        class="icon icon-active">
                                                </span>
                                                <span class="text">Settings</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-list__item">
                                            <a href="login.html" class="sidebar-list__link">
                                                <span class="sidebar-list__icon">
                                                    <img src="assets/images/icons/sidebar-icon13.svg" alt=""
                                                        class="icon">
                                                    <img src="assets/images/icons/sidebar-icon-active13.svg" alt=""
                                                        class="icon icon-active">
                                                </span>
                                                <span class="text">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="language-select flx-align select-has-icon">
                                    <img src="assets/images/icons/globe.svg" alt="" class="globe-icon white-version">
                                    <img src="assets/images/icons/globe-white.svg" alt=""
                                        class="globe-icon dark-version">
                                    <select class="select py-0 ps-2 border-0 fw-500">
                                        <option value="1">Eng</option>
                                        <option value="2">Bn</option>
                                        <option value="3">Eur</option>
                                        <option value="4">Urd</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dashboard Nav End -->


                <div class="dashboard-body__content">
                    <!-- Profile Content Start -->
                    <div class="profile">
                        <div class="row gy-4">
                            <div class="col-xxl-3 col-xl-4">
                                <div class="profile-info">
                                    <div class="profile-info__inner mb-40 text-center">

                                        <div class="avatar-upload mb-24">
                                            <div class="avatar-edit">
                                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg">
                                                <label for="imageUpload">
                                                    <img src="assets/images/icons/camera.svg" alt="">
                                                </label>
                                            </div>
                                            <div class="avatar-preview">
                                                <div id="imagePreview">
                                                </div>
                                            </div>
                                        </div>

                                        <h5 class="profile-info__name mb-1">Michel Smith</h5>
                                        <span class="profile-info__designation font-14">Exclusive Author</span>
                                    </div>

                                    <ul class="profile-info-list">
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-user"></i>
                                                <span class="text text-heading fw-500">Username</span>
                                            </span>
                                            <span class="profile-info-list__info">michel15</span>
                                        </li>
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-mail-forward"></i>
                                                <span class="text text-heading fw-500">Email</span>
                                            </span>
                                            <span class="profile-info-list__info">michel15@gmail.com</span>
                                        </li>
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-phone-plus"></i>
                                                <span class="text text-heading fw-500">Phone</span>
                                            </span>
                                            <span class="profile-info-list__info">+880 15589 236 45</span>
                                        </li>
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-map-pin"></i>
                                                <span class="text text-heading fw-500">Country</span>
                                            </span>
                                            <span class="profile-info-list__info">Bangladesh</span>
                                        </li>
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-currency-dollar"></i>
                                                <span class="text text-heading fw-500">Balance</span>
                                            </span>
                                            <span class="profile-info-list__info">$0.00 USD</span>
                                        </li>
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-calendar-month"></i>
                                                <span class="text text-heading fw-500">Member Since</span>
                                            </span>
                                            <span class="profile-info-list__info">Jan, 01, 2024</span>
                                        </li>
                                        <li class="profile-info-list__item">
                                            <span class="profile-info-list__content flx-align flex-nowrap gap-2">
                                                <i class="ti ti-basket-check"></i>
                                                <span class="text text-heading fw-500">Purchased</span>
                                            </span>
                                            <span class="profile-info-list__info">0 items</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-xxl-9 col-xl-8">
                                <div class="dashboard-card">
                                    <div class="dashboard-card__header pb-0">
                                        <ul class="nav tab-bordered nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link font-18 font-heading active"
                                                    id="pills-personalInfo-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-personalInfo" type="button" role="tab"
                                                    aria-controls="pills-personalInfo" aria-selected="true">Personal
                                                    Info</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link font-18 font-heading" id="pills-payouts-tab"
                                                    data-bs-toggle="pill" data-bs-target="#pills-payouts" type="button"
                                                    role="tab" aria-controls="pills-payouts"
                                                    aria-selected="false">Payouts</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link font-18 font-heading"
                                                    id="pills-changePassword-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-changePassword" type="button" role="tab"
                                                    aria-controls="pills-changePassword" aria-selected="false">Change
                                                    Password</button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="profile-info-content">
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-personalInfo"
                                                role="tabpanel" aria-labelledby="pills-personalInfo-tab" tabindex="0">
                                                <form action="#" autocomplete="off">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="fName"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">First
                                                                    Name</label>
                                                                <input type="text" class="common-input border"
                                                                    id="fName" value="Michel" placeholder="First Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="lastNamee"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Last
                                                                    Name</label>
                                                                <input type="text" class="common-input border"
                                                                    id="lastNamee" value="Smith"
                                                                    placeholder="Last Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="phonee"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Phone
                                                                    Number</label>
                                                                <input type="tel" class="common-input border"
                                                                    id="phonee" value="+880 15589 236 45"
                                                                    placeholder="Phone Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="emailAdddd"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Email
                                                                    Address</label>
                                                                <input type="email" class="common-input border"
                                                                    id="emailAdddd" value="michel15@gmail.com"
                                                                    placeholder="Email Address">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="cityyy"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">City</label>
                                                                <div class="select-has-icon">
                                                                    <select class="common-input border" id="cityyy">
                                                                        <option value="1">Dhaka</option>
                                                                        <option value="1">Chandpur</option>
                                                                        <option value="1">Comilla</option>
                                                                        <option value="1">Rangpur</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box"> <label for="Stateee"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">State/Region</label>
                                                                <div class="select-has-icon">
                                                                    <select class="common-input border" id="Stateee">
                                                                        <option value="1">USA</option>
                                                                        <option value="1">Bangladesh</option>
                                                                        <option value="1">India</option>
                                                                        <option value="1">Pakistan</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="Postcodeee"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Postcode</label>
                                                                <input type="text" class="common-input border"
                                                                    id="Postcodeee" value="1219"
                                                                    placeholder="Post Code">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="Countryyy"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Country</label>
                                                                <div class="select-has-icon">
                                                                    <select class="common-input border" id="Countryyy">
                                                                        <option value="1">USA</option>
                                                                        <option value="1">Bangladesh</option>
                                                                        <option value="1">India</option>
                                                                        <option value="1">Pakistan</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <button class="btn btn-main btn-lg"> Update
                                                                Profile</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="pills-payouts" role="tabpanel"
                                                aria-labelledby="pills-payouts-tab" tabindex="0">
                                                <form action="#" autocomplete="off">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="name"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Full
                                                                    Name</label>
                                                                <input type="text" class="common-input border" id="name"
                                                                    value="Michel" placeholder="Full Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="phone"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Phone
                                                                    Number</label>
                                                                <input type="tel" class="common-input border" id="phone"
                                                                    value="+880 15589 236 45"
                                                                    placeholder="Phone Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="emailAdd"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Email
                                                                    Address</label>
                                                                <input type="email" class="common-input border"
                                                                    id="emailAdd" value="michel15@gmail.com"
                                                                    placeholder="Email Address">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="city"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">City</label>
                                                                <div class="select-has-icon">
                                                                    <select class="common-input border" id="city">
                                                                        <option value="1">Dhaka</option>
                                                                        <option value="1">Chandpur</option>
                                                                        <option value="1">Comilla</option>
                                                                        <option value="1">Rangpur</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-main btn-lg"> Pay Now</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="pills-changePassword" role="tabpanel"
                                                aria-labelledby="pills-changePassword-tab" tabindex="0">
                                                <form action="#" autocomplete="off">
                                                    <div class="row">

                                                        <div class="col-12">
                                                            <div class="form_box">
                                                                <label for="current-password"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Current
                                                                    Password</label>
                                                                <div class="position-relative">
                                                                    <input type="password"
                                                                        class="common-input common-input--withIcon common-input--withLeftIcon "
                                                                        id="current-password"
                                                                        placeholder="************">
                                                                    <span class="input-icon input-icon--left"><img
                                                                            src="assets/images/icons/key-icon.svg"
                                                                            alt=""></span>
                                                                    <span
                                                                        class="input-icon password-show-hide fas fa-eye la-eye-slash toggle-password-two"
                                                                        id="#current-password"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="new-password"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">New
                                                                    Password</label>
                                                                <div class="position-relative">
                                                                    <input type="password"
                                                                        class="common-input common-input--withIcon common-input--withLeftIcon "
                                                                        id="new-password" placeholder="************">
                                                                    <span class="input-icon input-icon--left"><img
                                                                            src="assets/images/icons/lock-two.svg"
                                                                            alt=""></span>
                                                                    <span
                                                                        class="input-icon password-show-hide fas fa-eye la-eye-slash toggle-password-two"
                                                                        id="#new-password"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 col-xs-6">
                                                            <div class="form_box">
                                                                <label for="confirm-password"
                                                                    class="form-label mb-2 font-18 font-heading fw-600">Current
                                                                    Password</label>
                                                                <div class="position-relative">
                                                                    <input type="password"
                                                                        class="common-input common-input--withIcon common-input--withLeftIcon "
                                                                        id="confirm-password"
                                                                        placeholder="************">
                                                                    <span class="input-icon input-icon--left"><img
                                                                            src="assets/images/icons/lock-two.svg"
                                                                            alt=""></span>
                                                                    <span
                                                                        class="input-icon password-show-hide fas fa-eye la-eye-slash toggle-password-two"
                                                                        id="#confirm-password"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <button class="btn btn-main btn-lg"> Update
                                                                Password</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Profile Content End -->

                </div>

                <!-- ====================== Dashboard Footer Start ======================== -->
                <div class="dashboard-footer bottom-footer-two mt-32 border-0 bg-white">
                    <div class="bottom-footer__inner flx-between gap-3">
                        <p class="bottom-footer__text font-14"> Copyright © 2024 DigiMart, All rights reserved.</p>
                        <div class="footer-links gap-4">
                            <a href="#" class="footer-link hover-text-heading font-14">Terms of service</a>
                            <a href="#" class="footer-link hover-text-heading font-14">Privacy Policy</a>
                            <a href="#" class="footer-link hover-text-heading font-14">cookies</a>
                        </div>
                    </div>
                </div>
                <!-- ====================== Dashboard Footer End ======================== -->


            </div>
        </div>
    </section>
    <!-- ================================== Dashboard End =========================== -->

    <!-- Jquery js -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="assets/js/boostrap.bundle.min.js"></script>
    <!-- CountDown -->
    <script src="assets/js/countdown.js"></script>
    <!-- counter up -->
    <script src="assets/js/counterup.min.js"></script>
    <!-- Slick js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- apex chart -->
    <script src="assets/js/apexchart.js"></script>
    <!-- marquee -->
    <script src="assets/js/marquee.min.js"></script>
    <!-- infinite slide  -->
    <script src="assets/js/infiniteslidev2.js"></script>
    <!-- select 2  -->
    <script src="assets/js/select2.min.js"></script>

    <!-- main js -->
    <script src="assets/js/main.js"></script>


</body>

</html>