<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> Digital Market Place HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon-two.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- line awesome -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <!-- Tabler Icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.21.0/tabler-icons.min.css"
        integrity="sha512-XrgoTBs7P5YtpkeKqKOKkruURsawIaRrhe8QrcWeMnFeyRZiOcRNjBAX+AQeXOvx9/9fSY32dVct1PccRoCICQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>

    <!--==================== Preloader Start ====================-->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--==================== Preloader End ====================-->

    <!--==================== Overlay Start ====================-->
    <div class="overlay"></div>
    <!--==================== Overlay End ====================-->

    <!--==================== Sidebar Overlay End ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->

    <!-- ==================== Scroll to Top End Here ==================== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== Scroll to Top End Here ==================== -->

    <!-- ==================== Mobile Menu Start Here ==================== -->
    <div class="mobile-menu d-lg-none d-block">
        <button type="button" class="close-button"> <i class="las la-times"></i> </button>
        <div class="mobile-menu__inner">
            <a href="index.html" class="mobile-menu__logo">
                <img src="assets/images/logo/logo-two.png" alt="Logo" class="white-version">
            </a>
            <div class="mobile-menu__menu">
                <div class="header-right__inner d-lg-none my-3 gap-1 d-flex flx-align">

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="assets/images/icons/user.svg" alt="">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sign Up</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="nav-menu flx-align nav-menu--mobile">
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Home</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="index.html" class="nav-submenu__link"> Home One</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="index-two.html" class="nav-submenu__link"> Home Two</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="index-three.html" class="nav-submenu__link"> Home Three</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Products</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="all-product.html" class="nav-submenu__link"> All Products</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="product-details.html" class="nav-submenu__link"> Product Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="profile.html" class="nav-submenu__link"> Profile</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart.html" class="nav-submenu__link"> Shopping Cart</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart-personal.html" class="nav-submenu__link"> Mailing Address</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart-payment.html" class="nav-submenu__link"> Payment Method</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="cart-thank-you.html" class="nav-submenu__link"> Preview Order</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="dashboard.html" class="nav-submenu__link"> Dashboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="blog.html" class="nav-submenu__link"> Blog</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="blog-details.html" class="nav-submenu__link"> Blog Details</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="blog-details-sidebar.html" class="nav-submenu__link"> Blog Details Sidebar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item">
                        <a href="contact.html" class="nav-menu__link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ==================== Mobile Menu End Here ==================== -->

    <!-- ============================ Sale Offer Start =========================== -->
    <div class="sale-offer ">
        <div class="container container-full ">
            <div class="sale-offer__content flx-between position-relative">
                <div class="sale-offer__countdown">

                    <div class="countdown" data-date="14-10-2026" data-time="12:00">
                        <div class="day"><span class="num"></span><span class="word"></span></div>
                        <div class="hour"><span class="num"></span><span class="word"></span></div>
                        <div class="min"><span class="num"></span><span class="word"></span></div>
                        <div class="sec"><span class="num"></span><span class="word"></span></div>
                    </div>

                </div>
                <div class="sale-offer__discount flx-align gap-2">
                    <span class="sale-offer__text text-heading text-capitalize">New Year Flash Sale Offer</span>
                    <strong class="sale-offer__qty text-heading font-heading">45% OFF</strong>
                    <a href="#" class="btn btn-sm btn-white fw-500">Shop Now</a>
                </div>
                <div class="sale-offer__button">
                    <button type="submit" class="sale-offer__close text-heading"><i class="las la-times"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Sale Offer End =========================== -->

    <!-- ==================== Header Start Here ==================== -->
    <header class="header">
        <div class="container container-full">
            <nav class="header-inner flx-between">
                <!-- Logo Start -->
                <div class="logo">
                    <a href="index.html" class="link white-version">
                        <img src="assets/images/logo/logo-two.png" alt="Logo">
                    </a>
                    <a href="index.html" class="link dark-version">
                        <img src="assets/images/logo/white-logo.png" alt="Logo">
                    </a>
                </div>
                <!-- Logo End  -->

                <!-- Menu Start  -->
                <div class="header-menu d-lg-block d-none">
                    <ul class="nav-menu flx-align ">
                        <li class="nav-menu__item">
                            <a href="javascript:void(0)" class="nav-menu__link">Home</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="javascript:void(0)" class="nav-menu__link">Products</a>
                            <ul class="nav-submenu">
                                <li class="nav-submenu__item">
                                    <a href="all-product.html" class="nav-submenu__link"> All Products</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="product-details.html" class="nav-submenu__link"> Product Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-menu__item has-submenu">
                            <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
                            <ul class="nav-submenu">
                                <li class="nav-submenu__item">
                                    <a href="profile.html" class="nav-submenu__link">Test 01</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="profile.html" class="nav-submenu__link">Test 02</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-menu__item">
                            <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
                            <ul class="nav-submenu">
                                <li class="nav-submenu__item">
                                    <a href="blog.html" class="nav-submenu__link"> Blog</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="blog-details.html" class="nav-submenu__link"> Blog Details</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="blog-details-sidebar.html" class="nav-submenu__link"> Blog Details
                                        Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-menu__item">
                            <a href="contact.html" class="nav-menu__link">Contact</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="#" class="nav-menu__link">Start Selling</a>
                        </li>
                    </ul>
                </div>
                <!-- Menu End  -->

                <!-- Header Right start -->
                <div class="header-right flx-align">
                    <a href="cart.html" class="header-right__button cart-btn position-relative">
                        <i class="ti ti-basket"></i>
                        <span class="qty-badge font-12">0</span>
                    </a>

                    <div class="header-right__inner gap-3 flx-align d-lg-flex d-none">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="assets/images/icons/user.svg" alt="">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Sign Up</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="toggle-mobileMenu d-lg-none"> <i class="las la-bars"></i> </button>
                </div>
                <!-- Header Right End  -->
            </nav>
        </div>
    </header>
    <!-- ==================== Header End Here ==================== -->

    <!-- ==================== Category Menu Start ==================== -->
    <section class="category_menu_area d-none d-lg-block">
        <div class="container container-full">
            <ul class="category_menu">
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">Web Themes & Templates</a>
                    <ul class="nav-submenu">
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">WordPress</a>
                            <ul class="child_menu">
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 01</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 02</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">Elementor</a>
                            <ul class="child_menu">
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 01</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 02</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">Hosting</a>
                            <ul class="child_menu">
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 01</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 02</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">HTML</a>
                            <ul class="child_menu">
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 01</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 02</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">Shopify</a>
                            <ul class="child_menu">
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 01</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 02</a>
                                </li>
                                <li class="nav-submenu__item">
                                    <a href="#" class="nav-submenu__link">Child Menu 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">Jamstack</a>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">Marketing</a>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">Jamstack</a>
                        </li>
                        <li class="nav-submenu__item">
                            <a href="#" class="nav-submenu__link">CMS</a>
                        </li>
                    </ul>
                </li>
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">Code</a>
                </li>
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">Video</a>
                </li>
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">Audio</a>
                </li>
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">Graphics</a>
                </li>
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">Photos</a>
                </li>
                <li class="category_menu_list has-submenu">
                    <a class="category_menu_link" href="#">3D Files</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- ==================== Category Menu End ==================== -->
    <!-- ======================== Breadcrumb Two Section Start ===================== -->
    <section class="breadcrumb border-bottom p-0 d-block section-bg position-relative z-index-1"
        style="background: url(assets/images/thumbs/breadcrumb_bg.jpg);">
        <div class="breadcrumb-two">
            <img src="assets/images/gradients/breadcrumb-gradient-bg.png" alt="" class="bg--gradient">
            <div class="container container-two">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb-two-content text-center">

                            <ul class="breadcrumb-list flx-align gap-2 mb-2 justify-content-center">
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <a href="index.html"
                                        class="breadcrumb-list__link text-body hover-text-main">Home</a>
                                </li>
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <span class="breadcrumb-list__icon font-10"><i
                                            class="fas fa-chevron-right"></i></span>
                                </li>
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <span class="breadcrumb-list__text">Sign In</span>
                                </li>
                            </ul>

                            <h3 class="breadcrumb-two-content__title mb-0 text-capitalize">Sign In</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================== Breadcrumb Two Section End ===================== -->

    <section class="wsus__login padding-y-120">
        <div class="container">
            <div class="row">
                <div class="col-xxl-5 col-xl-6 col-md-9 col-lg-7 m-auto">
                    <div class="wsus__login_area">
                        <h2>Welcome back!</h2>
                        <p>sign in to continue</p>
                        <form>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="wsus__login_imput">
                                        <label>email</label>
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="wsus__login_imput">
                                        <label>password</label>
                                        <input type="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="wsus__login_imput wsus__login_check_area">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Remeber Me
                                            </label>
                                        </div>
                                        <a href="#">Forget Password ?</a>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="wsus__login_imput">
                                        <button type="submit" class="btn btn-main btn-lg">Sign in</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="or"><span>or</span></p>
                        <ul class="d-flex">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                        <p class="create_account">Dont’t have an aceount ? <a href="register.html">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Footer Start Here ==================== -->
    <footer class="footer-section " style="background: url(assets/images/shapes/footer-bg.png);">
        <div class="container">
            <div class="subscription pt_55 pb_45" style="background: url(assets/images/thumbs/subscrib_bg.jpg);">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 wow fadeInLeft"
                        style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="subscription_text ">
                            <h2>Have a project? Create your website now.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 wow fadeInRight"
                        style="visibility: visible; animation-name: fadeInRight;">
                        <div class="subscription_right">
                            <form action="#">
                                <input type="text" placeholder="enter your mail">
                                <button class="btn btn-main btn-lg" type="submit">subscription</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-two">
            <div class="row gy-5">
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-widget__logo">
                            <a href="index.html"> <img src="assets/images/logo/white-logo.png" alt=""></a>
                        </div>
                        <p class="footer-widget__desc">Lorem consultancy elitsed do eiusmod tempor inci didunt ut
                            labore dolore magna aliqua sed do eiusmod.</p>
                        <div class="footer-widget__social">
                            <ul class="social-icon-list">
                                <li class="social-icon-list__item">
                                    <a href="https://www.facebook.com" class="social-icon-list__link flx-center"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="social-icon-list__item">
                                    <a href="https://www.twitter.com" class="social-icon-list__link flx-center"> <i
                                            class="fab fa-twitter"></i></a>
                                </li>
                                <li class="social-icon-list__item">
                                    <a href="https://www.linkedin.com" class="social-icon-list__link flx-center"> <i
                                            class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li class="social-icon-list__item">
                                    <a href="https://www.pinterest.com" class="social-icon-list__link flx-center">
                                        <i class="fab fa-pinterest-p"></i></a>
                                </li>
                                <li class="social-icon-list__item">
                                    <a href="https://www.pinterest.com" class="social-icon-list__link flx-center">
                                        <i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6 col-xs-6">
                    <div class="footer-widget">
                        <h5 class="footer-widget__title text-white">Useful Link</h5>
                        <ul class="footer-lists">
                            <li class="footer-lists__item"><a href="all-product.html" class="footer-lists__link">Product
                                </a></li>
                            <li class="footer-lists__item"><a href="product-details.html"
                                    class="footer-lists__link">Product Details</a></li>
                            <li class="footer-lists__item"><a href="profile.html" class="footer-lists__link">Profile
                                </a></li>
                            <li class="footer-lists__item"><a href="cart.html" class="footer-lists__link">Shopping
                                    Cart</a></li>
                            <li class="footer-lists__item"><a href="dashboard.html"
                                    class="footer-lists__link">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-xs-6 ps-xl-5">
                    <div class="footer-widget">
                        <h5 class="footer-widget__title text-white">Quick Links</h5>
                        <ul class="footer-lists">
                            <li class="footer-lists__item"><a href="dashboard.html" class="footer-lists__link">Dashboard
                                </a></li>
                            <li class="footer-lists__item"><a href="login.html" class="footer-lists__link">Login
                                </a></li>
                            <li class="footer-lists__item"><a href="register.html"
                                    class="footer-lists__link">Register</a></li>
                            <li class="footer-lists__item"><a href="blog.html" class="footer-lists__link">Blog </a>
                            </li>
                            <li class="footer-lists__item"><a href="blog-details.html" class="footer-lists__link">Blog
                                    Details</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="footer_widget_count">
                        <ul>
                            <li>
                                <h4>58,547,547</h4>
                                <p>items sold</p>
                            </li>
                            <li>
                                <h4>$1,190,099,074 </h4>
                                <p>community earnings</p>
                            </li>
                        </ul>
                        <div class="img">
                            <img src="assets/images/thumbs/pay_brand.png" alt="Payment" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom Footer -->
        <div class="bottom-footer">
            <div class="container container-two">
                <div class="bottom-footer__inner flx-between gap-3">
                    <p class="bottom-footer__text font-14"> Copyright &copy; 2024 DigiMart, All rights reserved.</p>
                    <div class="footer-links">
                        <a href="#" class="footer-link font-14">Terms of service</a>
                        <a href="#" class="footer-link font-14">Privacy Policy</a>
                        <a href="contact.html" class="footer-link font-14">cookies</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==================== Footer End Here ==================== -->

    </main>

    <!-- Jquery js -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="assets/js/boostrap.bundle.min.js"></script>
    <!-- CountDown -->
    <script src="assets/js/countdown.js"></script>
    <!-- counter up -->
    <script src="assets/js/counterup.min.js"></script>
    <!-- Slick js -->
    <script src="assets/js/slick.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- apex chart -->
    <script src="assets/js/apexchart.js"></script>
    <!-- marquee -->
    <script src="assets/js/marquee.min.js"></script>
    <!-- infinite slide  -->
    <script src="assets/js/infiniteslidev2.js"></script>
    <!-- select 2  -->
    <script src="assets/js/select2.min.js"></script>

    <!-- main js -->
    <script src="assets/js/main.js"></script>


</body>

</html>